h1{
    color:aliceblue;
    -webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}
h2{
    color:aliceblue;
    -webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}
p{
    color: black;
}
.ack p{
    color:aliceblue;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    margin-top: 20px;
}
.button-container{
    display: flex;
    gap: 15px;
}
.button-container .btn-custom{
    background-color: rgb(242, 242, 242);
    color: rgb(31, 41, 55);
}
.button-container .btn-custom:hover {
    background-color: rgb(210, 210, 210); 
    color: rgb(31, 41, 55); 
}
.blurry-background{
    background: rgba(255, 255, 255, 0.6);
    display: inline-block;
}
.ack{
    margin-top: 5px;
    margin-bottom: 5px;
}
.collapse-title{
    color: rgb(31, 41, 55);
}