h1{
    color: antiquewhite;
}
h2{
    color: antiquewhite;
}
p{
    color: antiquewhite;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    margin-top: 20px;
}
.button-container{
    display: flex;
    gap: 15px;
}
.button-container .btn-custom{
    background-color: rgb(242, 242, 242);
    color: rgb(31, 41, 55);
}
.button-container .btn-custom:hover {
    background-color: rgb(210, 210, 210); 
    color: rgb(31, 41, 55); 
}
