<div class=" flex mt-20 p-2" style="justify-content: center; text-align: center;">
    <h1 class="font-mono text-5xl">{{ tutorial.title }}</h1>
    <hr class="line-clamp-1">
    <p class="font-mono text-3xl" style="margin-top: 20px;">{{ tutorial.description }}</p>
    <hr class="line-clamp-1">
    <div class="button-container">
        <button class="btn font-mono btn-custom"  (click)="goToOverview()">back to overview</button>
        <button class="btn font-mono btn-custom" *ngIf="tutorial.title =='Binary Conversion'" [routerLink]="['exercise', 'binaryConversion']">go to exercise</button>
        <button class="btn font-mono btn-custom" *ngIf="tutorial.title =='Decimal Conversion'" [routerLink]="['exercise', 'decimalConversion']">go to exercise</button>
        <button class="btn font-mono btn-custom" *ngIf="tutorial.title =='Logical Operations'" [routerLink]="['exercise', 'logicalOperations']">go to exercise</button>
        <button class="btn font-mono btn-custom" *ngIf="tutorial.title =='Binary Arithmetic'" [routerLink]="['exercise', 'binaryArithmetic']" >go to exercise</button>
    </div>
</div>