<div class=" flex mt-20 p-2" style="justify-content: center; text-align: center;">
    <h1 class="font-mono text-5xl">{{ tutorial.title }}</h1>
    <hr class="line-clamp-1">
    <p class="font-mono text-3xl" style="margin-top: 20px;">{{ tutorial.description }}</p>
    <hr class="line-clamp-1">
    <div class="join join-vertical w-full blurry-background mt-3 mb-3">
        <div *ngFor="let section of tutorial.sections; let i = index" class="collapse collapse-arrow join-item border-base-300 border">
            <input type="radio" name="my-accordion" [checked]="i === 0" />
            <div class="collapse-title text-4xl font-mono font-bold">{{ section.title }}</div>
            <div class="collapse-content">
            <p class="font-mono font-bold text-2xl" style="color: black;">{{ section.content }}</p>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button class="btn font-mono btn-custom"  (click)="goToOverview()">back to overview</button>
        <button class="btn font-mono btn-custom" *ngIf="tutorial.title =='Binary Conversion'" [routerLink]="['exercise', 'binaryConversion']">go to exercise</button>
        <button class="btn font-mono btn-custom" *ngIf="tutorial.title =='Decimal Conversion'" [routerLink]="['exercise', 'decimalConversion']">go to exercise</button>
        <button class="btn font-mono btn-custom" *ngIf="tutorial.title =='Logical Operations'" [routerLink]="['exercise', 'logicalOperations']">go to exercise</button>
        <button class="btn font-mono btn-custom" *ngIf="tutorial.title =='Binary Arithmetic'" [routerLink]="['exercise', 'binaryArithmetic']" >go to exercise</button>
    </div>
</div>