<!--<div class="navbar bg-neutral text-neutral-content">-->
<div class="navbar bg-neutral text-neutral-content">
    <span class="flex-1 text-2xl font-mono">
        <div class="avatar ml-4">
            <div class=" w-10 rounded-full overflow-hidden">
                <img alt="project logo" src="../../assets/bats_logo.png" />
            </div>
        </div>
    </span>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a role="button" class="text-current font-mono font-medium text-sm"  routerLink="" style="color: rgb(215, 221, 228);" >Home</a></li>
            <li><a role="button" class="text-current font-mono font-medium text-sm"  routerLink="overview" style="color: rgb(215, 221, 228);">Overview</a></li>
            <li><a role="button" class="text-current font-mono font-medium text-sm"  routerLink="dashboard" style="color: rgb(215, 221, 228);">Dashboard</a></li>
            <li><a role="button" class="text-current font-mono font-medium text-sm"  routerLink="about" style="color: rgb(215, 221, 228);">About Us</a></li>
            <li><a role="button" class="text-current font-mono font-medium text-sm"  routerLink="auth" style="color: rgb(215, 221, 228);">Sign Up / Login</a></li>
        </ul>
    </div>
    
</div>