<!--<div class="navbar bg-neutral text-neutral-content">-->
<div class="navbar bg-neutral text-neutral-content">
    <span class="flex-1 text-2xl font-mono">
        <div class="avatar ml-4">
            <div class=" w-10 rounded-full overflow-hidden">
                <a role="button" routerLink="">
                    <img  alt="project logo" src="../../assets/bats_logo.png" />
                </a>
            </div>
        </div>
    </span>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a role="button" class="text-current font-mono font-medium text-sm"  routerLink="">Home</a></li>
            <li><a role="button" class="text-current font-mono font-medium text-sm"  routerLink="overview">Overview</a></li>
            <li><a role="button" class="text-current font-mono font-medium text-sm"  routerLink="dashboard">Dashboard</a></li>
            <li><a role="button" class="text-current font-mono font-medium text-sm"  routerLink="about">About Us</a></li>
            <li  *ngIf="!isAuthenticated" ><a role="button" class="text-current font-mono font-medium text-sm"  routerLink="auth">Sign Up / Login</a></li>
            <li *ngIf="isAuthenticated"><a role="button" class="text-current font-mono font-medium text-sm" (click)="logout()">Log out</a></li>
        </ul>
    </div>
    
</div>