.custom-background{
    background-color: ghostwhite;
    color: black;
}
.btn-square{
    background-color: ghostwhite;
    color: black;
}
.button-container{
    display: flex;
    gap: 8px;
}
.btn-link{
    color: antiquewhite;
}
.modal .modal-box{
    background-color: rgb(255, 255, 255);
    color: rgb(31, 41, 55);
}
.modal .btn{
    background-color: rgb(242, 242, 242);
    color: rgb(31, 41, 55);
    border: none;
}
.modal .btn:hover{
    background-color: rgb(210, 210, 210);
    color: rgb(31, 41, 55);
}
.button-container2{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.button-container2 .btn{
    background-color: rgb(242, 242, 242);
    color: rgb(31, 41, 55);
}
.button-container2 .btn:hover {
    background-color: rgb(210, 210, 210); 
    color: rgb(31, 41, 55); 
}