h1{
    color: antiquewhite;
    margin-bottom: 4px;
}
p{
    color: antiquewhite;
}
input{
    margin: 10px;
}
.flex .help-div{
    color: antiquewhite;
}
.feedback-txt{
    color: black;
}
.calculationway-feedback{
    color: black;
}
.digit-div{
    margin: 10px;
}
.custom-background{
    background-color: ghostwhite;
    color: black;
}
.btn-square{
    background-color: ghostwhite;
    color: black;
}
.button-container{
    display: flex;
    gap: 8px;
}
.btn-link{
    color: antiquewhite;
}
.modal .modal-box{
    background-color: rgb(255, 255, 255);
    color: rgb(31, 41, 55);
}
.modal .btn{
    background-color: rgb(242, 242, 242);
    color: rgb(31, 41, 55);
    border: none;
}
.modal .btn:hover{
    background-color: rgb(210, 210, 210);
    color: rgb(31, 41, 55);
}
.button-container2{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.button-container2 .btn{
    background-color: rgb(242, 242, 242);
    color: rgb(31, 41, 55);
}
.button-container2 .btn:hover {
    background-color: rgb(210, 210, 210); 
    color: rgb(31, 41, 55); 
}
.visually-disabled{
    background-color: rgb(213, 214, 217) !important;
    color: rgb(176, 179, 185) !important;
}
.btn-success{
    background-color: seagreen;
    color: antiquewhite;
}
.btn-error{
    background-color: red;
    color: antiquewhite;
}