footer{
    background-color: rgb(43, 52, 64);
    color: rgb(215, 221, 228);
    padding: 3em;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribution{
    text-align: right;
    bottom: 10px;
    color:aliceblue; 
    padding: auto; 
    font-size: 10px;
}
.disclaimer{
    text-align: left;
    bottom: 10px;
    color:aliceblue; 
    padding: auto; 
    font-size: 10px;
}
