footer{
    background-color: rgb(43, 52, 64);
    color: rgb(215, 221, 228);
    padding: 1em;
}

.disclaimer{
    bottom: 10px;
    color:aliceblue; 
    padding: auto; 
    font-size: 10px;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between;
}