footer{
    background-color: rgb(43, 52, 64);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribution{
    color: rgb(215, 221, 228); 
    font-size: 12px;
}
.disclaimer{
    color: rgb(215, 221, 228); 
    font-size: 12px;
}
