<div class="container">
    <div class="bg-warning timer-container rounded-box">
        <span class="countdown font-mono text-5xl">
            <span [style.--value]="timer"></span>
        </span>
        <span  class="timer-unit">sec</span>
    </div>
    <div class="content">
        <div class="flex flex-col justify-center items-center mt-60 mr-1 mb-1 ml-1 p-2">
            <h1 class="font-mono font-bold text-5xl" style="color: antiquewhite; margin-bottom: 4px;">{{ data.title }}</h1>
            <p class="font-mono text-3xl" style="color: antiquewhite; margin-top: 4px;">{{ data.task }}</p>
            <div class="button-container">
                <button *ngIf="data.topic != 'decimalConversion'" (click)="setLevel(1)" class="btn-link font-mono mr-2">Level 1</button>
                <button *ngIf="data.topic != 'decimalConversion'" (click)="setLevel(2)" class="btn-link font-mono">Level 2</button>
            </div>

            <div *ngIf="data.topic == 'decimalConversion'">
                <input type="text" class="input input-bordered w-full max-w-xs custom-background" style="margin: 10px;" [(ngModel)]="data.userAnswer" (focus)="onInputFocus()" />
            </div>

            <div *ngIf="data.topic != 'decimalConversion'">
                <div class="flex">
                    <div id="digit-{{ i }}" *ngFor="let digit of ensureArray(data.userAnswer); let i = index" style="margin: 10px;">
                        <div class="font-mono" style="color: antiquewhite;" id="helper-{{ i }}" *ngIf="current_level == 1">
                            {{ helpers[i] }}
                        </div>
                        <button (click)="toggleDigit(i)" class="btn btn-square font-mono" [ngClass]="getButtonColor(i)">
                            {{ getDigit(i) }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="button-container2">
                <button [disabled]="disableCheckButton" (click)="checkAnswer()"  class="btn font-mono" [ngClass]="{'visually-disabled': disableCheckButton}">Check answer</button>
                <button class="btn font-mono" (click)="finishingQuiz()">Finish quiz</button>
            </div>
            <p class="font-mono text-2xl" style="color: antiquewhite; margin-top: 20px;">You're current correct answer streak is: {{ correctAnswerStreak }}</p>
            <p *ngIf="data.topic == 'decimalConversion'" class="font-mono" style="color: antiquewhite;">{{ data.feedback }}</p> 

    
            <dialog id="my_modal_1" class="modal modal-middle">
                <div class="modal-box">
                    <h3 class="font mono font-bold text-lg">OPPS!</h3>
                    <p class="py-4">Your time is up</p>
                    <div class="modal-action">
                        <form method="dialog" class="fm">
                            <button class="btn font-mono" (click)="onCloseButtonClick()" routerLink="dashboard">Close</button>
                        </form>
                    </div>
                </div>
            </dialog>
            <dialog id="my_modal_2" class="modal modal-middle">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">Are you really want to leave the quiz!</h3>
                    <p class="py-4">Do you want to sign up / login to keep up your achievement</p>
                    <div class="modal-action">
                        <form method="dialog" class="fm">
                            <div class="button-container3">
                                <button class="btn" (click)="goToLogin()">sign up / login</button>
                                <button class="btn" (click)="goToOverview()">back to overview</button>
                            </div>
                        </form>
                    </div>
                </div>
            </dialog>
            <dialog id="modal_auth_ok" class="modal modal-middle">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">Are you really want to leave the quiz!</h3>
                    <p class="py-4">Do you want to store the record?</p>
                    <div class="modal-action">
                        <form method="dialog" class="fm">
                            <div class="button-container3">
                                <button class="btn" (click)="updateStreakInDB()">Save the record</button>
                                <button class="btn" (click)="goToOverview()">back to overview</button>
                            </div>
                        </form>
                    </div>
                </div>
            </dialog>
            <dialog id="modal_no_record" class="modal modal-middle">
                <div class="modal-box">
                    <h3 class="text-lg font-bold">Unfortunately, You have not reached a higher score!</h3>
                    <div class="modal-action">
                        <form method="dialog" class="fm">
                            <button class="btn font-mono" (click)="onCloseButtonClick()" routerLink="dashboard">Close</button>
                        </form>
                    </div>
                </div>
            </dialog>
        </div>
    </div>
</div>