<div class="blurry-background">
    <div class="flex justify-center flex-col items-center mt-6 ">
        <figure>
            <img class="mask" src="../../assets/beef_logo.png" alt="group logo must appear here"/>
        </figure>
        <h1 class="text-xl font-mono font-bold" style="color:antiquewhite;">This project was done by the BEEF group </h1>
        <h2 class="font-mono font-bold" style="color:antiquewhite;">Veronika Bogdanovich</h2>
        <h2 class="font-mono font-bold" style="color:antiquewhite">Kevin Hoffschlag</h2>
        <h2 class="font-mono font-bold" style="color:antiquewhite;">Ula Muhabbek</h2>
        <!--a class="link link-hover custom-hover" href="https://github.com/khoffschlag/BATS"><span class="font-mono" style="color: antiquewhite; ">visit our Repo</span></a-->
        <a href="https://github.com/khoffschlag/BATS" title="visit our repo">
            <span>
                <img class="small-image"  alt="github logo" src="../../assets/GitHub_Logo_White.png"/>
            </span>
        </a>
    </div>
</div>