<div class="blurry-background">
    <div class="flex justify-center flex-col items-center mt-20">
        <figure>
            <img class="mask" src="../../assets/beef_logo.png" alt="group logo must appear here"/>
        </figure>
        <h1 class="text-2xl font-mono font-bold" style="color:black">This project was done by the BEEF group </h1>
        <h2 class="text-2xl font-mono font-bold" style="color:black">as a part of university course </h2>
        <h2 class=" text-xl font-mono font-bold" style="color:black">Veronika Bogdanovich</h2>
        <h2 class="text-xl font-mono font-bold" style="color:black;">Kevin Hoffschlag</h2>
        <h2 class="text-xl font-mono font-bold" style="color:black">Ula Muhabbek</h2>
        <a href="https://github.com/khoffschlag/BATS" title="visit our repo">
            <span>
                <img class="small-image"  alt="github logo" src="../../assets/GitHub_Logo.png"/>
            </span>
        </a>
    </div>
</div>
