<div class="blurry-background">
    <div class="flex justify-center flex-col items-center mt-6 ">
        <figure>
            <img class="mask mask-decagon" src="../../assets/beef_logo.png" alt="group logo must appear here"/>
        </figure>
        <h1 class="text-xl font-mono " style="color: antiquewhite;">This project was done by the BEEF group </h1>
        <h3 class="font-mono" style="color: antiquewhite;">Veronika Bogdanovich</h3>
        <h3 class="font-mono" style="color: antiquewhite;">Kevin Hoffschlag</h3>
        <h3 class="font-mono" style="color: antiquewhite;">Ula Muhabbek</h3>
        <a class="link link-hover custom-hover" href="https://github.com/khoffschlag/BATS"><span class="font-mono" style="color: antiquewhite; ">visit our Repo</span></a>
    </div>
</div>