
<!-- <h1 class="mb-10 mt-20 text-6xl font-mono text-center" style="color: antiquewhite;">BATS</h1>  -->
    <div class="card-container m-5 p-2">
        <div class="card w-96 glass">
            <div class="card-body">
                <h2 class="card-title font-mono" style="color: antiquewhite;">Binary Conversion</h2>
                <p class="font-mono" style="color: antiquewhite;">Wanna learn to convert decimal to binary?</p>
                <div class="card-actions justify-end">
                    <button class="btn font-mono btn-custom" [routerLink]="['theory', 'binaryConversion']">Read more</button>
                    <button class="btn font-mono btn-custom" [routerLink]="['exercise', 'binaryConversion']">Exercise!</button>
                    
                </div>
            </div>
        </div>
        <div class="card w-96 glass">
            <div class="card-body">
                <h2 class="card-title font-mono" style="color: antiquewhite;">Decimal Conversion</h2>
                <p class="font-mono" style="color: antiquewhite;">Wanna learn to convert binary to decimal?</p>
                <div class="card-actions justify-end">
                    <button class="btn font-mono btn-custom" [routerLink]="['theory', 'decimalConversion']">Read more</button>
                    <button class="btn font-mono btn-custom" [routerLink]="['exercise', 'decimalConversion']">Exercise!</button>
                </div>
            </div>
        </div>
        <div class="card w-96 glass">
            <div class="card-body">
                <h2 class="card-title font-mono" style="color:antiquewhite;">Logical Operations</h2>
                <p class="font-mono" style="color: antiquewhite;">Wanna learn logical Operations?</p>
                <div class="card-actions justify-end">
                    <button class="btn font-mono btn-custom" [routerLink]="['theory', 'logicalOperations']">Read more</button>
                    <button class="btn font-mono btn-custom" [routerLink]="['exercise', 'logicalOperations']">Exercise!</button>
                </div>
            </div>
        </div>
        <div class="card w-96 glass">
            <div class="card-body">
                <h2 class="card-title font-mono" style="color:antiquewhite;">Binary Arithmetic</h2>
                <p class="font-mono" style="color: antiquewhite;">Wanna learn binary arithmetic?</p>
                <div class="card-actions justify-end">
                    <button class="btn font-mono btn-custom" [routerLink]="['theory', 'binaryArithmetic']">Read more</button>
                    <button class="btn font-mono btn-custom" [routerLink]="['exercise', 'binaryArithmetic']">Exercise!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-center">
        <div class="card w-96 glass">
            <div class="card-body">
                <h2 class="card-title font-mono" style="color:antiquewhite;">Quiz</h2>
                <p class="font-mono" style="color: antiquewhite;">Check your knowledge</p>
                <div class="card-actions justify-end">
                    <button class="btn font-mono btn-custom" routerLink="quiz">Surprise Me!</button> 
                </div>
            </div>
        </div>
    </div>
