<h1>Binary Conversion</h1>
Wanna learn to convert decimal to binary?<br>
<a [routerLink]="['theory', 'binaryConversion']">Read more!</a><br>
<a [routerLink]="['exercise', 'binaryConversion']">Exercise!</a>

<h1>Decimal Conversion</h1>
Wanna learn to convert binary to decimal?<br>
<a [routerLink]="['theory', 'decimalConversion']">Read more!</a><br>
<a [routerLink]="['exercise', 'decimalConversion']">Exercise!</a>

<h1>Logical Operations</h1>
Wanna learn logical Operations?<br>
<a [routerLink]="['theory', 'logicalOperations']">Read more!</a><br>
<a [routerLink]="['exercise', 'logicalOperations']">Exercise!</a>

<h1>Binary Arithmetic</h1>
Wanna learn binary arithmetic?<br>
<a [routerLink]="['theory', 'binaryArithmetic']">Read more!</a><br>
<a [routerLink]="['exercise', 'binaryArithmetic']">Exercise!</a>
