
main{
    background-image: url('../assets/3d-fantasy-scene.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    background-size: 100% calc(max(100px, 100%));
    min-height: 100vh;
    padding-bottom: 20px; 
    box-sizing: border-box;
    align-content: center;
}