.btn{
    color:rgb(215, 221, 228);
}
.btn-cutom-1:hover{
    background-color: rgb(84, 82, 94);
    color: rgb(215, 221, 228);
}
.cutom-color{
    color: rgb(215, 221, 228);
}

.hero {
    padding-top: 20px ;
    background-color: rgba(0, 0, 0, 0.35);;
}